[submodule "docs/Notes_cognitive_labor_simulation_interdisciplinary"]
	path = docs/Notes_cognitive_labor_simulation_interdisciplinary
	url = https://github.com/yuyuslab/Notes_cognitive_labor_simulation_interdisciplinary
