<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    <script src="https://kit.fontawesome.com/85848f69e6.js" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
    {% include analytics.html %}
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <nav>
    
            <a href="{{ site.baseurl }}/">🐼</a>
          
            <a href="{{ site.baseurl }}/about.html" ><i class="fa-solid fa-user fa-2xl"></i></a>
          
            <a href="{{ site.baseurl }}/blog.html" ><i class="fa-solid fa-comment fa-2xl"></i></a>
            
            <a href="{{ site.baseurl }}/research.html" ><i class="fa-solid fa-brain fa-2xl"></i></a>

            <a href="{{ site.baseurl }}/links.html" ><i class="fa-solid fa-link fa-2xl"></i></a>
    
            <a href="{{ site.baseurl }}/musical.html" ><i class="fa-solid fa-headphones fa-2xl"></i></a>
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa-solid fa-bars"></i>
            </a>

          
      </nav>

    </div>

  <div class="body-container">
    {{ content }}
  </div> 
</body>
</html>